<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>User Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 class="my-4" th:text="${user.id != null ? 'Edit User' : 'Add New User'}"></h2>

    <form th:action="@{/users/save}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" readonly required>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Enter email" required>
        </div>

        <div class="form-group">
            <label for="cnp">CNP</label>
            <input type="text" th:field="*{cnp}" class="form-control" id="cnp" placeholder="Enter CNP" required>
        </div>

        <div class="form-group">
            <label for="height">Height (cm)</label>
            <input type="number" th:field="*{height}" class="form-control" id="height" placeholder="Enter height" required>
        </div>

        <div class="form-group">
            <label for="weight">Weight (kg)</label>
            <input type="number" th:field="*{weight}" class="form-control" id="weight" placeholder="Enter weight" required>
        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" id="age" th:field="*{age}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="goal">Goal</label>
            <select th:field="*{goal.id}" class="form-control" id="goal" required>
                <option th:each="goal : ${goals}" th:value="${goal.id}" th:text="${goal.goalType +' - '+ goal.level}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/start-page" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>
